src/
tests/
build/
public/
index.html
.DS_Store
node_modules/
npm-debug.log
yarn-error.log
webpack.config.js
vue.config.js
tsconfig.json
jest.config.js
.editorconfig
.eslintrc.js
.prettierrc
babel.config.js
index.js